
.dialog-content {
  background-color: #3D5A6C;
  color: gray;
  padding-left: 30px;
  padding-right: 30px;
}

.login-button {
  background-color: #72A98F;
  color: #433A3F;
  padding: 10px;
  margin-left: 55px;
  margin-bottom: 20px;
}

.form-field {
  margin-left: 50px; 
  width: 80%;
}

.login-title {
  margin-left: 50px !important;
  margin-bottom: 20px;
}
