.update-profile-card {
  width: auto; /* Adjust width automatically */
  background-color: #72A98F !important;
}

.user-update-form {
  width: auto; /* Adjust width automatically */
  background-color: #72A98F !important;
}

.form-field {
  width: 50%;
  margin-right: 20px;  
  background-color: #72A98F !important;
}

.update-profile-button {
  background-color: #3D5A6C !important;
  color: lightgray;
}
