<!DOCTYPE html>
<div class="page-container">
  <h1 class="username-welcome">
    Welcome <span>{{ username }}</span> !
  </h1>

  <mat-tab-group class="favorite-movies-container">
    <mat-tab label="My list of favorite movies">
      <div class="movie-grid">
        <ng-container
          class="fav-movie-card"
          *ngIf="favoriteMovies.length > 0; else noFavorites"
        >
          <mat-card *ngFor="let movie of favoriteMovies; let i = index">
            <mat-dialog-content class="user-fav-movie">
              <mat-card-header>
                <mat-card-title class="my-fav-title">{{
                  movie.Title
                }}</mat-card-title>
              </mat-card-header>
              <img
                mat-card-image
                class="fav-movie-image"
                [src]="movie.imageurl"
                [alt]="movie.Title"
              />
              <mat-card-actions>
                <button
                  mat-button
                  color="primary"
                  (click)="openDirectorDialog(movie)"
                >
                  Director
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="openSynopsisDialog(movie)"
                >
                  Synopsis
                </button>
                <button
                  class="heart-icon"
                  mat-icon-button
                  (click)="removeFavoriteMovie(movie)"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              </mat-card-actions>
            </mat-dialog-content>
          </mat-card>
        </ng-container>
        <ng-template #noFavorites>
          <p class="no-favorites-message">
            You haven't added any movies to your favorites yet!
          </p>
        </ng-template>
      </div>
    </mat-tab>
    <mat-tab label="Update my profile" class="profile-update-container">
      <app-update-user></app-update-user>
    </mat-tab>
  </mat-tab-group>
</div>
